
<%- include("partials/header.ejs") %>

<body class="background-pattern">
    <div class="px-4 pt-5 text-center mt-5">
        <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Your plants are ready!</h1>
        
        <!-- Generating a description block for every resulted plant recived from the API -->
        <% if(locals.content) { %>
            <% for(let i = 0; i < content.length; i++) { %>

                <div class="container col-xxl-8 px-4 py-4">
                    <div class="row flex-lg-row-reverse align-items-center g-5 py-4">
                      <div class="col-10 col-sm-8 col-lg-6">
                        <img src=<%= `${content[i].default_image.original_url}` %> class="d-block mx-lg-auto result-img" alt="Bootstrap Themes" width="570" height="370" loading="lazy">
                      </div>
                      <div class="col-lg-6">
                        <h2 class="fw-normal lh-1 mb-3"><%= content[i].common_name %></h2>
                        <ul class="list-group list-group-flush bg-transparent">
                            <li class="list-group-item bg-transparent p-0">
                                <div class="me-auto fw-normal">
                                  <div class="fw-bold">Scientific Name</div>
                                  <%= content[i].scientific_name %>
                                </div>
                            </li>
                            <li class="list-group-item bg-transparent p-0">
                                <div class="me-auto fw-normal">
                                  <div class="fw-bold">Cycle</div>
                                  <%= content[i].cycle %>
                                </div>
                            </li>
                            <li class="list-group-item bg-transparent p-0">
                                <div class="me-auto fw-normal">
                                  <div class="fw-bold">Watering</div>
                                  <%= content[i].watering %>
                                </div>
                            </li>
                            <li class="list-group-item bg-transparent p-0">
                                <div class="me-auto fw-normal">
                                  <div class="fw-bold">Sunlight</div>
                                  <%= content[i].sunlight %>
                                </div>
                            </li>
                            <li class="list-group-item bg-transparent p-0">
                                <div class="me-auto fw-normal">
                                  <div class="fw-bold">Hardiness</div>
                                  <%= hardiness %>
                                </div>
                            </li>
                          </ul>
                      </div>
                    </div>
                  </div>
                
            <% } %>
        <% } %>

        <!-- Gets the design page for make another plant request -->
        <div class="py-5 my-3">
            <a href="/design-request">
                <button type="button" class="btn btn-primary btn-lg px-4 me-sm-3 customize-btn">Get more plants!</button>
            </a>
        </div>

        <div class="overflow-hidden" style="max-height: 58vh;">
            <div class="container px-5">
            <img src="imgs/home-page-flower.png" class="img-fluid" alt="Flower image" width="430" height="320" loading="lazy">
            </div>
        </div>
    </div>



<%- include("partials/footer.ejs") %>